<!DOCTYPE html>
<html>
  <head>
    <title>Textbook Market</title>
    <style>
        h1   {text-align: center}
        /* The navbar container */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

    /* Navbar links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Links - change color on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 12px;
        font-size: 17px;
    }
    th {
        text-align: left;
    }
    </style>
  </head>
  <body>
          <div class="topnav">
              <a href="/marketplace">Home</a>
              <a href="/postText">Post</a>
              <input align = "right" type="text" placeholder="Search Textbook..">
          </div>

          <br><span>Welcome <%= User.username %></span><br><br>
          
          <table style="width:100%" align-text="left">
              <tr>
                  <th>Post ID</th>
                  <th>Textbook Name</th>
                  <th>Edition</th>
              </tr>
              <tr>
                  <td>14213</td>
                  <td>Calculus III (Undergraduate Texts in Mathematics)</td>
                  <td>2</td>
                  <td><a href="/textbook"> Click Here</a></td>
              </tr>
          </table>

  </body>
</html>
